#product-carousel .carousel-control-next-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  /* background: no-repeat 50% / 100% 100%; */
}

.carousel-img {
  height: 300px;
  /* width: 270px; */
}
