.myContactForm {
    display: flex;
    flex-direction: column;
    width: 600px;
    justify-content: center;
    align-items: flex-end;
    font-family: Arial, Helvetica, sans-serif;
    
}

.myInput {
    margin: 4px;
    width: 300px;
    height: 30px;
    border: 2px solid;
}

.myTextArea {
    margin: 5px;
   
    border: 2px solid;
}