.card-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.card2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s ease;
  margin: 0 auto;
  padding: 0;
  width: 50vw;
  height: 100vh;
  margin-top: 5%;
}

.login-form {
  font-family: "Lato", sans-serif;
}

.contact-form-header {
  font-family: "Lato", sans-serif;
}

.payment-line {
  border: 1px solid rgb(240, 236, 236);
}

.product-title {
  text-transform: capitalize;
  font-size: 230%;
  font-family: "Chivo", sans-serif;
}

.product-font {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 130%;
}

.cart-row {
  align-items: center;
  border-bottom: 1px solid black;
}

.product-font2 {
  font-size: 200%;
}

.product-font3 {
  /* padding-left: 16px; */
}

.product-font4 {
  font-family: "PT Sans Narrow", sans-serif;
  align-items: center;
  font-size: 200%;
}

.cart-title {
  font-family: "PT Sans Narrow", sans-serif;
  text-decoration: underline;
}

.checkout-button {
  background-color: green;
}

.navbar-brand {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 150%;
}

.product-description2 {
  display: block; /* or inline-block */
  text-overflow: ellipsis;
  overflow: hidden;
  max-height: 3.2em;
  line-height: 1.8em;
}

.product-title2 {
  font-family: "PT Sans Narrow", sans-serif;
}
